%html
  %head
    %title= "執念 | #{yield(:title)}"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track" => true
    = javascript_include_tag "application",
      "data-turbolinks-track" => true
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .nav
            %ul.nav.pull-right
              = link_to "開始", benkyou_index_path
              = link_to "単語", tangos_path
              = link_to "漢字", "#"
              = link_to "タッグ", tags_path
              = link_to "課題", kadai_index_path
    = yield
